header {
    background-color: aquamarine; 
}

img {
  margin: auto;
  display: block;
}

h2 {
    color: steelblue;
    background-color: aquamarine;
    text-align: center;
}

h3 {
    background-color: aquamarine;
    color: steelblue;
    text-align: center;
    
}